services:
  - type: web
    name: placen2-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/v1/health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        sync: false
      - key: ACCESS_TOKEN_SECRET
        generateValue: true
      - key: REFRESH_TOKEN_SECRET
        generateValue: true
      - key: EMAIL_VERIFICATION_SECRET
        generateValue: true
      - key: PASSWORD_RESET_SECRET
        generateValue: true
      - key: FRONTEND_URL
        sync: false
